{% extends 'lockscreen.html' %} 
{% load semanticui %} 

{% block content %}
    <div class="ui middle aligned center aligned grid" style="height: 100%;">
        <div class="column" style="max-width: 400px">
            <h2>Cradar.AI</h2>
            <div class="ui raised segment">
                <div class="ui container center aligned">
                    <h3>Log In</h3>
                </div>
                <div class="ui container left aligned">
                    {% if form.errors %}
                        <div class="ui error message">
                            Your username and password didn't match. Please try again.
                        </div>
                    {% endif %}
                    <form class="ui form" method="post">
                        {% csrf_token %} 
                        {% render_form form %}
                        <button class="ui button" type="submit">Log In</button>
                        <div class="ui divider"></div>
                        Don't have an account? Please <a href="{% url 'register' %}">register</a>.
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
