{% extends 'base.html' %}
{% load semanticui %}

{% block content %}
    <div class="ui container" style="padding-top: 55px">
        <div class="ui container segment clearing">
            <h2>Update Password</h2>
        </div>

        <div class="ui container segment clearing">
            <form class="ui form" method="post">
                {% csrf_token %} 
                {% render_form form %}
                <button class="ui button" type="submit">Update Password</button>
            </form>
        </div>
    </div>
{% endblock %}
