{% extends 'base.html' %} 
{% load semanticui %} 

{% block content %}
    <div class="ui container" style="padding-top: 55px">
        <div class="ui container segment clearing">
            <h2>Change Password</h2>
        </div>

        <div class="ui container segment clearing">
            <div class="ui positive message">
                <div class="header">
                    Successful!
                </div>
                Your password has been updated.
            </div>
        </div>
    </div>
{% endblock content %}
