<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <!-- Fomantic ui -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

        {% block extraheader %}
        {% endblock extraheader %}
        {% block extrastyle %}
        {% endblock extrastyle %}
        <title>{{ title }}</title>
    </head>
    <body>
        {% include "menubar.html" %}

        {% block content %}
        {% endblock content %}
        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>